version: '3.7'
services:
  postgres:
    image: postgres:13
    ports:
      - '5432:5432'
    volumes:
      - ./src/test/resources/schema.sql:/docker-entrypoint-initdb.d/00-schema.sql
      - ./src/test/resources/data.sql:/docker-entrypoint-initdb.d/01-data.sql
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: p@ssw0rd